<!-- View: login -->
<div class="row" ng-controller="LoginCtrl">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h1>Api Application</h1>
        <form novalidate id="login_form" name="loginForm" ng-submit="login(loginForm.$valid)">
            <div class="form-group" ng-class="{'has-error' : loginForm.email.$invalid && submitted}">
                <label for="email">Username</label>
                <input type="text" name="email" id="email" class="form-control" ng-model="formData.email" required tabindex="1"/>
                <p ng-show="loginForm.email.$error.required && submitted" class="text-danger">This field is required</p>
            </div><!-- /.form-group -->

            <div class="form-group" ng-class="{'has-error' : loginForm.password.$invalid && submitted}">
                <label for="password">Password</label>
                <a href="/forgot" class="pull-right">I forgot</a>
                <div class="input-group">
                    <input type="{{inputType}}" name="password" id="password" class="form-control" ng-model="formData.password" required tabindex="2"/>
                    <span class="input-group-addon checkbox">
                        <label for="show">
                            <input type="checkbox" id="show" aria-label="Show" ng-click="hideShowPassword()"/> Show
                        </label>
                    </span>
                </div>
                <p ng-show="loginForm.password.$error.required && submitted" class="text-danger">This field is required</p>
            </div><!-- /.form-group -->

            <div class="form-group clearfix">
                <div class="checkbox-inline">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" ng-model="formData.remember"/> Remember Me
                    </label>
                </div>
                <input type="submit" value="Sign In" class="btn btn-primary pull-right"/>
            </div><!-- /.form-group -->
        </form><!-- /#login_form -->

        <div class="text-center">
            Trouble signing in? <a href="http://www.wanco.com/contact/" target="_blank">Contact us</a>
        </div>
    </div><!-- /col -->
</div><!-- /row -->
